body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #1f2937;
}

header {
  padding: 0.5em 15em;
  background-color: #1f2937;
  margin-bottom: 100px;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: #f9faf8;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 300;
  color: #e5e7eb;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.hero-placeholder {
  display: flex;
  margin-top: 100px;
}
.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-secondary {
  font-size: 18px;
  font-weight: 300;
  color: #e5e7eb;
}

.signup-btn {
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  width: 125px;
  padding: 10px;
}

.signup-link {
  text-decoration: none;
  color: #e5e7eb;
  cursor: pointer;
}

.placeholder {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  color: #e5e7eb;
}

.placeholder-img {
  width: 500px;
  height: 200px;
  background-color: darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.random {
 text-align: center;
  padding: 2em 15em;
  background-color: #fff;
  
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.thumbnail {
  display: flex;
  flex-direction: column;
  max-width:200px;
  
}

.card {
  border: solid 4px blue;
  border-radius: 10px;
  padding: 10px;
  width: 160px;
  height: 160px;

}

.thumbnail-text {
  display: block;
}